nav#menu-nav
  input#menu-check(type='checkbox')
    label#menu-label(for='menu-check')  ☰ 
      ul#menu-list
        li
          a#favourites(href='#') Favoritos
        li
          a#adverts(href='#') Anuncios
        li
          a#users(href='#') Usuarios
        li
          a#profile(href='#') Mi Perfil
        li
          a#login(href='#') Iniciar Sesión
        li
          a#logout(href='#') Cerrar Sesión