<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Menú Dropdown</title>
</head>
    <body>
        <nav id="menu-nav">
            <input type="checkbox" id="menu-check">
            <label id="menu-label" for="menu-check"> ☰ </label>
                <ul id="menu-list">
                    <li><a id="favourites" href="#">Favoritos</a></li>
                    <li><a id="adverts" href="#">Anuncios</a></li>
                    <li><a id="users" href="#">Usuarios</a></li>
                    <li><a id="profile" href="#">Mi Perfil</a></li>
                    <li><a id="login" href="#">Iniciar Sesión</a></li>
                    <li><a id="logout" href="#">Cerrar Sesión</a></li>
                </ul>
        </nav>
    </body>
</html>