section#home-container
      section#home-container-up
        h1#text-up Encuentra tu futuro...
        #space-up
      section#home-container-down
        #space-down
        h1#text-down ...de la mano de JobScanner!