#home-container {
    width: 100%;
    height: 400px;
    background-image: url("../../public/assets/img/cover.jpg");
    background-size: cover;
}

#home-container-up {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: left;
}

#space-up {
    width: 100%;
    height: 200px;
}

#home-container-down {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: right;
}

#space-down {
    width: 100%;
    height: 200px;
}

#text-up {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color:rgb(76, 76, 76);
    margin-top: 60px;
    margin-left: 60px;
}

#text-down {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color:rgb(55, 55, 55);
    margin-right: 60px;
    margin-bottom: 60px;
}