doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Anuncios favoritos
    body 
        each favAd in favs
            article
                h3 AnunciosFavoritos:
                p Id anuncio favorito: #{favAd.id}
                p # #{favAd.user_id}
                p Anuncio: #{favAd.ad}
                button.DeleteButton(value="Delete" adId=favAd.id) Delete
         
        ul#favsList(action="/favourites" method="POST")
        script(src="/scripts/favourites.js")
        //-  script(src="/scripts/search.js")  