doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./styles.css
        title Favourites

    body 

        
        h3.favouritesTitle Mis anuncios favoritos
        ul#favsList(action="api/favourites" method="GET")
        script(src="/scripts/favourites.js")
        //-  script(src="/scripts/search.js")  