doctype html
html(lang="en")
    head
        title Home No Log
        style 
            include ./styles.css
   
        
          
    body
        header
        nav#menu-nav
            ul#menu-list
                li
                    a#logout(href='#') Cerrar Sesión
            p#homeName Admin:#{userName}
        #buttonContainer 
                a#advertsAdmin(href='/dashboard') Anuncios
                a#usersAdmin(href='/users') Usuarios
                a#profileAdmin(href='/profile') Mi Perfil
        form#pdfForm(action="api/ads/pdf") 
                button#pdfBtn(type="submit") Descargar PDF   
               
        script(src="/scripts/search.js")