doctype html
html(lang="en")
    head
        title Home No Log
        style 
            include ./styles.css
    //- include ../public/scripts/search.js
        
          
    body
        header
        nav#menu-nav
            ul#menu-list
                li
                    a#login(href='/login') Iniciar Sesión
                li
                    a#signup(href='/signup') Registro

        form#searchForm(action="/search" method="POST") 
            input#search(type="text" name="job" placeholder=" Busca un empleo...")
            input#city(type="text" name="city" placeholder=" ...en esta ciudad")
            button#submitBtn(type="submit" value="Search") Buscar 
        ul#searchList 
        dialog#modal4
            .spinner
        script(src="/scripts/search.js")