doctype html
html(lang="en")
    head
        title Document
       
    //- include ../public/scripts/search.js
        
          
    body 
        form#searchForm(action="/api/search/" method="POST") 
            input#search(type="text" name="job")
            input#city(type="text" name="city")
            button#submitBtn(type="submit" value="Search") Enviar 
        ul#searchList 
        script(src="/scripts/search.js")        
    