doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h2 Admin:#{userName}
        form#updateName(action="api/users" method="POST")
            label Introduce tu nuevo nombre de usuario 
            input#newNameInput(type="text" name="newName") 
            button#sendNewName(type="submit") Enviar
        script(src="/scripts/changeName.js") 