doctype html
html 
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  style 
    include ./styles.css
  title Job Scanner
header     
   #menu-box
     nav 
        ul
            li
                a Perfil
            li
                a Favoritos
        ul
            li
                a Acceso
        ul#userNav  
            li 
                a#goHome(href="/homeNoLog")  Home
            li
                a#logIn(href="/signup") Registro

main 

    dialog#modal3(method='dialog' open='')
             h2 Recuperar contrase침a
             form#form1(method='dialog')
                button#btnCloseLogin X
                div#infoContainer 
                    label 
                    | Email
                    p#infoBox i 
                input#emailInput(type='text' name='email' placeholder='Introduce tu correo electr칩nico')
                div#commentBox 
                    p Introduce el correo electr칩nico de tu cuenta para que podamos enviar un enlace y actualizar tu contrase침a   
                button#sendSignIn(type='submit') Enviar
body 
    script(src="/scripts/recoverPass.js")