doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./styles.css

        title Register
    body
        section#search-container
            div#modal2(method='dialog' open='')
                form#form2(action="/api/signup" method='POST')
                    h3 Crea tu cuenta
                    input#nameInput(type='text' name='full_name' placeholder='Introduce nombre...')
                    input#email2(type='email' name='email2' placeholder='Introduce email...')
                    input#pass1(type='password' name='pass1' placeholder='Introduce contraseña...')
                    br
                    button#sendSignUp(type='submit') REGISTRO
                    br
                #register-box
                    button VOLVER

    script(src="/scripts/signUp.js") 