body {
    margin: 0;
}



header {
    background-image: url("./assets/img/pece.jpg");
    background-size: cover;
    width: 100%;
    height: 300px;
}

#menu-box {
    background-color: rgba(186, 13, 239, 0.5);
    width: 100%;
    height: 80px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
}

#search-box {
    width: 100%;
    height: 220px;
    display: flex;
    flex-flow: column wrap;
    justify-content:center;
    align-items: center;
}

#title-box {
    margin-bottom: 20px;;
}

#title-box h2 {
    margin: 0;
}

#form-box {
    background-color: rgb(13, 220, 239, 0.5);
    width:90%;
    border-radius: 7px;
    padding: 10px;
}

form ul {
    margin: 0;
    padding: 0;
}

form ul li {
    list-style-type: none;
}

#list-main-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
}

#list-main-form li input {
    width: 400px;
    margin-right: 200px;
}

#btnCloseLogin,#btnCloseSignUp{
    border-radius: 50%;
    border-color: #eaeaea;
    border-width: 3px;
    color: #7e1d1d;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
#btnCloseLogin:hover{
    color: #3f0606;
    background: none;
}

#sendSignIn,#sendSignUp{
    border-radius: 20px;
    padding: 10px;
    background: none;
    border-color: #c2a8ee;
    cursor: pointer;
    width: 100%;
    border-width: 2.5px;
}

#sendSignIn:hover,#sendSignUp:hover{
    background: #bbaed8;
    color: white;
}

#emailInput,#email2,#pass1,#pass2, #passInput,#nameInput{
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: 2px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
    margin: 20px 0px 20px 0px;
}

#modal::backdrop{
    background-color: rgba(0, 0, 0, 0.6);
    }

#modal2::backdrop{
    background-color: rgba(0, 0, 0, 0.6);
}
#modal3::backdrop{
    background-color: rgba(0, 0, 0, 0.6);
}
#modal,#modal2{
   
    border-radius: 40px;
    padding: 30px;
    border: 5px solid rgba(66, 19, 83, 0.8) ;
}

#modal3{
    border-radius: 40px;
    padding: 30px;
    border: 5px solid rgba(66, 19, 83, 0.8) ;
    width: 50%;
}

#userNav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    top: -20px
}

a{
    cursor: pointer;
    text-decoration: none;
}

#goHome,#register,#logIn{
    padding: 10px 15px 10px 15px;
    margin: 0px 10px 0px 10px;
    background: #3f0606;
    border-radius: 20px;
    color: white;
}

#infoBox{
    background: rgb(69, 48, 101);
    width: 10%;
    border-radius: 50px;
    text-align: center;
    color: white;
    margin: 20px;
    font-weight: bold;
    cursor: pointer;
}

#infoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#commentBox{
    display: none;
}

#searchForm{
    margin: 20px;
    padding: 30px;
    width: 90%;
    background-color: rgb(236, 236, 236);
    box-shadow: 1px 1px 2px 0px rgb(200, 200, 200);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#searchForm input{
    font-size: larger;
    width: 85%;
    height: 35px;
    border: solid 1px rgb(191, 191, 191);
    border-radius: 4px;
    outline: none;
}

#searchForm button{
    background-color: white;
    color: rgb(88, 88, 88);
    height: 39px;
    width: 80px;
    border: 1px solid rgb(231, 231, 231);
    box-shadow: 1px 1px 2px 0px rgb(200, 200, 200);
    border-radius: 4px;
    cursor: pointer;
}

#searchList{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    flex-direction: column;
    list-style: none;
}
#searchList li{
    background: rgba(77, 77, 77, 0.6);
    width: 40%;
    margin: 30px;
    padding: 30px;
    border-radius: 30px;
    text-decoration: none;
}

#searchList li > p{
    text-align: center;
}

.elementTitle{
   
    margin: 0;
    text-align: center;
}

.elementUrl{

    text-align: center;
}

.favBtn{
    cursor: pointer;
}
.favBtn:hover{
    filter: brightness(1);
}