
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./styles.css
        title Vista usuarios registrados
    body
        includeincludes/menu-dropdown.pug
        section#users-container
            each user in users
                article#user-box
                    p Id usuario: #{user.id}
                    p  #{user.email}
                    p Name: #{user.full_name}
                    p Role: #{user.role}
                    button.DeleteBtn(value="Delete" user_email=user.email) Delete
            section#create-box
                
                form#userCreate(action="/users" method="POST")  
                    input#email(type="text" name="email" placeholder="Email...")
                    input#password(type="text" name="password" placeholder="Contraseña...")  
                    input#fullName(type="text" name="full_name" placeholder="Nombre completo...") 
                    input#role(placeholder="Rol de usuario (admin o client)" type="text" name="role")
                    button#createBtn(type="submit" value="Create") Crear usuario

            section#update-box
                form#userUpdate(action="/users" method="POST")   
                    input#2email(type="text" name="email2" placeholder="Email...")
                    input#fullName2(type="text" name="full_name2" placeholder="Nombre completo...")
                    button#updateBtn(type="submit" value="POST") Actualizar usuario 
                ul#usersList(action="/users" method="POST")

        script(src="/scripts/usersAdmin.js") 