section#search-container
  #main-form-box
    form#main-form
      input(type='email' placeholder='Introduce email...')
      input(type='password' placeholder='Introduce contraseña...')
      button LOGIN
    hr
    #google-log-box
      p o haz login con Google:
      .space
      button GOOGLE
    #register-box
      p Si no estás registrado:
      .space
      button REGISTRO
    #recov-pass
      a(href='#') ¿Olvidaste tu contraseña?