<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Search Card</title>
</head>
<body>
    <section id="search-container">
        <div id="main-form-box">
            <form id="main-form">
                <input type="email" placeholder="Introduce email...">
                <input type="password" placeholder="Introduce contraseña...">
                <button>LOGIN</button>
            </form>
            <hr/>
            <div id="google-log-box">
                <p>o haz login con Google:</p>
                <div class="space"></div>
                <button>GOOGLE</button>
            </div>
            <div id="register-box">
                <p>Si no estás registrado:</p>
                <div class="space"></div>
                <button>REGISTRO</button>
            </div>
            <div id="recov-pass">
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>
        </div>
        
    </section>
</body>
</html>