section#result-container
  article#box-result
    #fav-black(onclick='visualiza_segundo()')
      a(href='#')
        img(src='../heart-black.jpg')
    #fav-red(onclick='visualiza_primero()')
      a(href='#')
        img(src='../heart-red.png')
    a#link-result(href='#')
      h3#title Título
      p#company Empresa
      #div1
        span#city Ciudad
        #h-bar1
        span#present Presencialidad
        #h-bar1
        span#pub-date Fecha publicación
      p#description
        | Descripción: Lorem ipsum dolor sit amet consectetur adipiscing elit felis, ornare sem pulvinar ullamcorper eleifend facilisi cursus, eget mauris gravida dignissim arcu libero bibendum.
      #div2
        span#contract Tipo contrato
        #h-bar2
        span#day Tipo jornada
        #h-bar2
        span#salary Sueldo min - Max